---
import sillyGuyEyesOpenMouthClosed from "../assets/silly-guy/eyes_open_mouth_closed.png";
import sillyGuyEyesOpenMouthOpen from "../assets/silly-guy/eyes_open_mouth_open.png";
import sillyGuyEyesClosedMouthClosed from "../assets/silly-guy/eyes_closed_mouth_closed.png";
import sillyGuyEyesClosedMouthOpen from "../assets/silly-guy/eyes_closed_mouth_open.png";
import { getImage, Image } from "astro:assets";

const optimizedSillyGuyEyesOpenMouthClosed = await getImage({
  src: sillyGuyEyesOpenMouthClosed,
  format: "webp",
});
const optimizedSillyGuyEyesOpenMouthOpen = await getImage({
  src: sillyGuyEyesOpenMouthOpen,
  format: "webp",
});
const optimizedSillyGuyEyesClosedMouthClosed = await getImage({
  src: sillyGuyEyesClosedMouthClosed,
  format: "webp",
});
const optimizedSillyGuyEyesClosedMouthOpen = await getImage({
  src: sillyGuyEyesClosedMouthOpen,
  format: "webp",
});
---

<div class="flex flex-col gap-y-4 items-center container justify-center pt-20">
  <p>Astro Get Image</p>
  <img
    src={optimizedSillyGuyEyesOpenMouthClosed.src}
    alt="Joshua Constantine Santos"
    class="rounded-full w-32 h-32 fixed -bottom-[1px] -right-4 object-cover xs:relative xs:bottom-1.5 xs:right-2 xs:mb-[-1.1rem] xs:ml-[10.4rem] z-[1] transition-all duration-300 ease-in-out"
  />
  <img
    src={optimizedSillyGuyEyesOpenMouthOpen.src}
    alt="Joshua Constantine Santos"
    class="rounded-full w-32 h-32 fixed -bottom-[1px] -right-4 object-cover xs:relative xs:bottom-1.5 xs:right-2 xs:mb-[-1.1rem] xs:ml-[10.4rem] z-[1] transition-all duration-300 ease-in-out"
  />
  <img
    src={optimizedSillyGuyEyesClosedMouthClosed.src}
    alt="Joshua Constantine Santos"
    class="rounded-full w-32 h-32 fixed -bottom-[1px] -right-4 object-cover xs:relative xs:bottom-1.5 xs:right-2 xs:mb-[-1.1rem] xs:ml-[10.4rem] z-[1] transition-all duration-300 ease-in-out"
  />
  <img
    src={optimizedSillyGuyEyesClosedMouthOpen.src}
    alt="Joshua Constantine Santos"
    class="rounded-full w-32 h-32 fixed -bottom-[1px] -right-4 object-cover xs:relative xs:bottom-1.5 xs:right-2 xs:mb-[-1.1rem] xs:ml-[10.4rem] z-[1] transition-all duration-300 ease-in-out"
  />
  <p>Astro Images</p>
  <Image
    src={sillyGuyEyesOpenMouthClosed}
    alt="Joshua Constantine Santos"
    class="rounded-full w-32 h-32 fixed -bottom-[1px] -right-4 object-cover xs:relative xs:bottom-1.5 xs:right-2 xs:mb-[-1.1rem] xs:ml-[10.4rem] z-[1] transition-all duration-300 ease-in-out"
  />
  <Image
    src={sillyGuyEyesOpenMouthOpen}
    alt="Joshua Constantine Santos"
    class="rounded-full w-32 h-32 fixed -bottom-[1px] -right-4 object-cover xs:relative xs:bottom-1.5 xs:right-2 xs:mb-[-1.1rem] xs:ml-[10.4rem] z-[1] transition-all duration-300 ease-in-out"
  />
  <Image
    src={sillyGuyEyesClosedMouthClosed}
    alt="Joshua Constantine Santos"
    class="rounded-full w-32 h-32 fixed -bottom-[1px] -right-4 object-cover xs:relative xs:bottom-1.5 xs:right-2 xs:mb-[-1.1rem] xs:ml-[10.4rem] z-[1] transition-all duration-300 ease-in-out"
  />
  <Image
    src={sillyGuyEyesClosedMouthOpen}
    alt="Joshua Constantine Santos"
    class="rounded-full w-32 h-32 fixed -bottom-[1px] -right-4 object-cover xs:relative xs:bottom-1.5 xs:right-2 xs:mb-[-1.1rem] xs:ml-[10.4rem] z-[1] transition-all duration-300 ease-in-out"
  />
</div>
